.navbar{
    margin-left: 10px;
    margin-right: 10px;
    border: 5px solid black;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border: 3px solid black;
    background-color: rgb(155, 197, 235);
}
/*Alles mit . sind Klassen*/
.heaer {
    font-size: large; /*Grösse der Schrift*/
    font-style: initial;
    padding: 20px;
}
.footDiv{
    display: flex;
    flex-direction: row; /*auflistung der Flexboxen*/
    justify-content: space-between;
    margin-left: 10px;
    margin-right: 10px;
    position: relative;
    bottom: 0;
    right: 0;
    left: 0;
}
.foot{
    border: 3px solid black;
    background-color: rgb(155, 197, 235);
}
.title {
    font-size: 28px;
    font-weight: bold;
    color: black;
    text-align: center;
    text-decoration: none;
}
.navigator{
    text-align: right;
    width:30%;
    display: flex;
    flex-direction: row;
}
a {
    padding: 20px;
}
/*einfach a ist für alle links, keine Klasse oder Id, von HTML aus alles was das gleiche ist, wie h1 usw.*/
.container {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
}
.item {
    width: 300px;
    height: 400px;
    margin: 5px;
    display: flex;
    flex-direction: column;
    flex: 0 0 auto;
}
.softcontainer {
    display: flex;
    flex-wrap: wrap; /*auflistung von flexboxen, jedoch wenn es keinen Platz mehr hat geht er eins nach runter*/
    justify-content: space-around;
    align-items: center;
    margin: 10px;
}
.softitem {
    width: 300px;
    height: 400px;
    margin: 10px;
    display: flex;
    flex-direction: column;
    flex: 0 0 auto;
}
.sort, .price {
    display: flex;
}
.shoppingcart {
    display: flex;
}
.ingredients {
    display: flex;
    margin-bottom: 10px;
}
.line {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
}
.pizzeria {
    display: flex;
    justify-content: center;
}
.pizzaimg {
    height: 250px;
    width: 300px;
}
.cart {
    width: 20px;
    height: 20px;
}
.saladimg {
    width: 300px;
    height: 200px;
}
.textinimg {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    text-decoration: none;
}
.image-container {
    position: relative;
    display: inline-block;
}
.indeximg {
    width: 300px;
    height: 200px;
}
.pizzeriaimg {
    width: 400px;
    height: auto;
}
.overlay-text:hover {
    text-decoration: none;
}
/*wenn man über den Text fährt, dann passiert nichts*/
.normalpng{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}
.indextext{
    color: white;
    text-decoration: none;
    font-size: 24px;
}
.index:hover{
    text-decoration: none;
}
.question{
    display: flex;
    flex-direction: row;
}
.questionchoice{
    margin-block-start: 1em;
}
.softimg{
    height: 300px;
    width: 300px;
}
#feedbacktitle{
    text-align: center;
}
#feedbackdiv{
    display: flex;
    flex-direction: row;
    justify-content: center;
}
.leftfeedback{
    text-align: right;
    margin: 20px;
}
.rightfeedback{
    width: 400px;
    margin: 20px;
    text-align: right;
}
.reportquestion{
    margin-top: 15px;
    margin-bottom: 15px;
    height: 30px;
}
.feedback{
    display: flex;
    justify-content: space-between;
    height: 30px;
    margin-top: 15px;
    margin-bottom: 15px;
}
#name, #e-mail, #improvementsuggestions{
    width: 100%;
    height: 20px;
    margin-bottom: 15px;
}
#improvementsuggestions{
    height: 150px;
}
/*Alle mit # sind Id, können nur einmal verwendet werden*/
label{
    margin-top: 6px;
}
.pizzaContainer{
    display: flex;
    flex-wrap: wrap;

}
.saladcontainer{
    display: flex;
    flex-wrap: wrap;
}
.thanks{
    text-align: center;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 100px;
}